#define ZMK_COMBO(name, combo_bindings, keypos, combo_layers, combo_timeout, combo_idle) \
    / { \
        combos { \
            compatible = "zmk,combos"; \
            combo_ ## name { \
                timeout-ms = <combo_timeout>; \
                bindings = <combo_bindings>; \
                key-positions = <keypos>; \
                layers = <combo_layers>; \
                require-prior-idle-ms = <combo_idle>; \
            }; \
        }; \
    };

#define COMBO_TERM_FAST 25
#define COMBO_TERM_SLOW 40
#define COMBO_IDLE_FAST 75
#define COMBO_IDLE_SLOW 0

/*                KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/* Cross-hand combos */
ZMK_COMBO(capsword,  &caps_word, LH0 RH0, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(fun_layer, &mo FUN,    LH1 RH1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(sys_layer, &mo SYS,    LH2 RH2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - left hand */
ZMK_COMBO(del,   &kp DEL,     LT4 LT3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(q,     &kp Q,       LT3 LT2, DEF, COMBO_TERM_FAST, COMBO_IDLE_SLOW)
ZMK_COMBO(z,     &kp Z,       LT2 LT1, DEF, COMBO_TERM_FAST, COMBO_IDLE_SLOW)
ZMK_COMBO(esc,   &kp ESC,     LM3 LM2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lpar,  &kp LPAR,    LM3 LM1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(tilde, &kp TILDE,   LM1 LM0, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy,  &kp LC(INS), LB3 LM2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(cut,   &kp LC(X),   LB3 LM1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(paste, &kp LS(INS), LB2 LM1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(grave, &kp GRAVE,   LB0 LB1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(dollar, &kp DOLLAR, RT2 RT3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc,   &kp BSPC,   RT1 RT2, DEF, COMBO_TERM_FAST, COMBO_IDLE_SLOW)
ZMK_COMBO(caret,  &kp CARET,   RT0 RT1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar,   &kp RPAR,   RM1 RM3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(amps,   &kp AMPS,   RB2 RB3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(prcnt,  &kp PRCNT,  RB1 RB2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Vertical combos - left hand */
ZMK_COMBO(lbrc,  &kp LBRC, LT2 LM2, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lbkt,  &kp LBKT, LM2 LB2, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(excl,  &kp EXCL, LT1 LM1, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(pipe,  &kp PIPE, LT0 LM0, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(at,    &kp AT,   LM1 LB1, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Vertical combos - right hand */
ZMK_COMBO(rbrc,  &kp RBRC, RT2 RM2, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(rbkt,  &kp RBKT, RM2 RB2, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(hash,  &kp HASH, RT1 RM1, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(bslh,  &kp BSLH, RT0 RM0, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(star,  &kp STAR, RM1 RB1, DEF, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
